# All starting with dot
.*

# Ignore all in dependencies except the build scripts
dependencies/*
!dependencies/*.sh

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe

# Netbeans.
*.mk
backend/nbproject/*.bash
backend/nbproject/private/*
